* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  text-align: center;
  /* font-family: 'My Soul', cursive; */
  font-family: "Metamorphous", cursive;
}
body {
  height: 100vh;
  display: grid;
  place-items: center center;
  background-size:2000px;
  

}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 200px));
  padding: 20px;
  grid-gap: 40px;
}
.card:hover {
  transform: scale(1.1);
}
.card {
  background: url("https://media.istockphoto.com/photos/old-worn-papyrus-paper-with-contaminated-surface-picture-id1190803669?b=1&k=6&m=1190803669&s=170667a&w=0&h=G2HnBvbEvIpPq6IfHgVllDK0Rmnd3AVz0zLqeXSq-6o=");
background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(97, 31, 31, 0.897);
}
.container {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

.details {
  padding: 20px 10px;
}
.details > h3 {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details > p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
